---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

    
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


<nav id="navigation" class="pagination">

<h3>MENU</h3>
    <hr>
		{% for link in site.links %}
            <li>{% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %} </li>
	{% endfor %}            
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
</nav>
